@media all and (min-width:200px) and (max-width:1000px) {
    .main_menu>ul>li {
        margin: 0;
    }
}

@media all and (min-width:200px) and (max-width:766px) {
    .main_menu>ul>li {
        display: block;
        margin: 0 30px;
        text-align: center;
    }

    .main_menu>ul>li>a {
        display: inline-block;
    }

    .inner_fotter ul li {
        margin: 0;
    }

}

/* END OF THIS WEBPAGE CSS */